* {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.text-dark {
    color: rgb(12, 12, 12);
}

html{
    box-sizing: border-box;
}

.my-grid{
    display: grid;
    grid-template-columns: 1fr minmax(10em, 20em) 1fr;
    grid-template-rows: auto 1fr 3fr;
}
.item{
    grid-column: 2/3;
    grid-row: 2/ 3
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--white);
}

h6,
h3 {
    color: var(--dark) !important;
}

a {
    text-decoration: none !important;
}

.para {
    color: var(--white);
}

::placeholder {
    color: var(--white) !important;
    opacity: 0.5 !important;
}

input {
    background-color: #00000007 !important;
    color: white !important;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.list-group-item {
    color: rgb(0, 115, 255);
    background-color: rgb(255, 255, 255);
}

.colors {
    color: rgb(0, 115, 255) !important;
    background-color: rgb(255, 255, 255) !important;
}

.card {
    background-color: rgba(0, 0, 0, 0.513);
    opacity: 0.9;
}

.my-list {
    position: relative;
    display: grid;
    grid-auto-columns: auto;
    /* Safari */
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    grid-template-rows: 1fr;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    margin-top: 3px;
    margin: 0.1em;
    flex: auto;
}

.my-list:hover {
    /* Safari */
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-family: 'Oxygen', sans-serif;
    color: rgba(255, 255, 255, 0.945);
    text-align: center;
    text-decoration: none;
    font-size: 126px;
    letter-spacing: 2px;
    margin-top: 3px;
    cursor: pointer;
}

.my-list div {
    text-align: right;
    padding: 10px;
    margin: 1px;
    transition: all 0.1s ease-in-out;
    color: rgb(255, 255, 255);
}

.w3-container {
    transition: all 0.2s ease;
}

#Capa_2 {
    padding: 4px;
    border-radius: 4px;
    fill: var(--light);
}

#Capa_1 {
    margin-left: 8px;
    position: relative;
    z-index: 9999999;
    padding: 4px;
    border-radius: 4px;
    fill: var(--white);
}

#Capa_2 {
    transition: 0.2s all ease !important;
    transform: scale(1.2) !important;
}


#certs{
  height: 160vh;
  width: 100%;
}


#Capa_2:active {
    transition: 0.2s all ease !important;
    transform: scale(0.8) !important;
}

.bg-darker {
    background-color: #161616;
    outline: #00408a solid 1px;
}
body {
  background: #131313;
  /*#004c9c*/
}
.mainContent {
    margin-top: 85px;
    left: 100px;
}

.bg-g:nth-child(n) {
    background-color: var(--dark);
    border-radius: 0px 5px 5px 0px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.bg-g:nth-child(n):hover {
    background-color: #313436;
    border-radius: 0px 5px 5px 0px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.info {
    color: #343a40;
}

.bg-g:nth-child(n):hover {
    transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.bg-light {
    border-radius: 0px 5px 5px 0px;
    background-color: var(--white) !important;
    color: var(--blue) !important;
    font-size: larger;
    border-top: var(--white) outset 3px;
    border-bottom: var(--white) outset 3px;
    filter: contrast()(1px);
}

.gmail {
    color: whitesmoke !important;
    text-align: center;
    border-radius: 4px;
    padding: 4px;
    cursor: copy;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gmail:hover {
    background-color: rgb(15, 15, 15);
    border-radius: 4px;
    padding: 4px;
    cursor: copy;
    border-radius: 4px;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

body>div:nth-child(4)>footer>div>div>div>h6 {
    color: whitesmoke !important;
}

.pdf {
    position: relative;
    z-index: 99999;
}

.barStyle {
    color: var(--gray-dark);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.barStyle:hover {
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: var(--gray-dark);
}

p {
    color: var(--white);
    font-size: medium;
}

#topBtn {
    font-size: 18px;
    cursor: pointer;
    padding: 15px;
    z-index: 99999;
}

.footer {
    position: relative;
    min-width: 110%;
    padding: 0px 0px 0px 50px !important;
    margin: 0 !important;
}

.tabs {
    display: inline-flexbox;
    text-align: center;
}

.w3-top {
    max-width: 100% !important;
    min-width: 100% !important;
}

header {
    top: 0;
    position: absolute;
    min-height: 20% !important;
    z-index: 9999999999;
}

.sticky {
    flex-shrink: none;
}



.index {
    position: relative;
    top: 0;
    z-index: 0 !important;
}

.space {
    /* 16 * 0.0625 = 1px */
    letter-spacing: 0.0625em;
}

.space-v {
    /* 16 * 0.0625 = 1px */
    letter-spacing: 0.325em !important;
}

.indexl {
    background: #002a5a !important;
    position: relative;
    ;
    z-index: 999 !important;
    left: 0;
    top: -2px !important;
    transition: all 1s ease;
    
}
.panel{
    opacity: 0.5;

}
.footer {
    background: #002a5a !important;
    left: 0;
}



.indexl:hover {
    top: -2px;
    transition: all 1s ease-in-out;
}


h3, h6{
    color: #f8f9fa !important;
}


#projects {
    
    display: flex;
    margin-top: 350px;
    transition: 1s all;
}



.parallax {
    /* 
    position: absolute;
    top: 0;
    
    background-image: url("Cool.png");
    
    height: 100%;
    width: 100%;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99999;
    */
}

#cv-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


#projects>* {
    color: white;
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    transition: ease 3s all;
}

.my-container {
    position: absolute;
    min-width: 100%;
}












