:root {
    --blue:
        #007bff;
    --indigo:
        #6610f2;
    --purple:
        #6f42c1;
    --pink:
        #e83e8c;
    --red:
        #dc3545;
    --orange:
        #fd7e14;
    --yellow:
        #ffc107;
    --green:
        #28a745;
    --teal:
        #20c997;
    --cyan:
        #17a2b8;
    --white:
        #fff;
    --gray:
        #6c757d;
    --gray-dark:
        #343a40;
    --primary:
        #007bff;
    --secondary:
        #6c757d;
    --success:
        #28a745;
    --info:
        #17a2b8;
    --warning:
        #ffc107;
    --danger:
        #dc3545;
    --light:
        #f8f9fa;
    --dark:
        #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
font-size: 16px;
font-family: -apple-system,
BlinkMacSystemFont,
San Francisco,
HelveticaNeue-Light,
Helvetica Neue Light,
Helvetica Neue,
Segoe UI,
Fira Sans,
Roboto,
Oxygen,
Ubuntu,
Droid Sans,
Arial,
sans-serif;
font-weight: 400;
color: #000;
line-height: 1.5;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:  'Arial Narrow Bold', sans-serif
}



a{
   text-decoration: none !important;
}


.hidden{
    display: none;
}
.list-group-item {
    color: rgb(0, 115, 255);
    background-color: rgb(255, 255, 255);
}
.colors{
color: rgb(0, 115, 255) !important;
background-color: rgb(255, 255, 255) !important;
}

.my-list {
    display: grid;
    grid-auto-columns: auto;
    
    -webkit-transition-duration: 0.1s;
    /* Safari */
    transition-duration: 0.1s;
    
    grid-template-rows: 1fr;
     font-family: 'Oxygen',
     sans-serif;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    background-color: gainsboro;
    font-size: 126px;
    
    letter-spacing: 2px;
}
.my-list div{

 font: 10px sans-serif;
 
 text-align: right;
 padding: 10px;
 margin: 1px;
 transition: all 0.1s ease-in-out;
 color: rgb(255, 255, 255);
}

.w3-container{
    transition: all 0.2s ease;
}

#Capa_2 {
    padding: 4px;
    border-radius: 4px;
     fill: var(--dark);
}
#Capa_1 {
    padding: 4px;
    border-radius: 4px;
    fill: var(--white);
}

#Capa_2:active{
    transition: 0.2s all ease !important;
   transform: scale(0.9) !important;
}

.bg-darker{
    background-color: rgb(243, 243, 243);
}

.bg-g{
    background: linear-gradient(-82deg, #ffc107 50%, 50%,#343a40d3 5%);
    
}

#me .p{
   
    transition: 0.1s all ease !important;
    margin-left: 32px;
}

#me, .p:hover {
    margin: 4px;
    padding: 3px;
    border-radius: 0.4em;
    background-color: #ffffff;
    color: #6c757d;
    transition: 0.2s all ease !important;
    font-size: 16px;
}





